// Цветовая схема
$blue:   #e3e9ff;
$violet: #af7eeb;
$gray:   #8c99bb;
$red:    #ff164c;

// Модификаторы
$soft-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
$hard-shadow: 0px 0px 15px 0px rgba(0,0,0,0.30);

$mobile-breakpoint: 780px;
